
div, article, section, header, nav, li {
	position:relative;
}
.group:after {
	display:block;
	height:0;
	clear:both;
	content:".";
	visibility:hidden; /* For clearing */
}

ul, ol {
	font-size: 1em; /* 16px */
	line-height: 1.5; /* 24px */
	margin: 0 0 1.5em 0;
}
body, input, textarea {
}
a:link, a:visited {
	color: #F1505A;
}
a:hover, a:active {
	color: #F1505A;
	text-decoration: underline;
}
.muted {
	color: #A5A5A2;
	font-family: 'Quattrocento', serif;
}
.impressed {
	text-shadow:
 -1px -1px 0 rgba(0, 0, 0, 0.5), /* shadow */  1px 1px 0 rgba(255, 255, 255, 0.9); /* highlight */
}

/* ---------------------------------------------------------------------------------------------------------- 
04 Navbar ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */


.navbar{
    background: #cd0814; /* Old browsers */
    background: -moz-linear-gradient(top, #cd0814 0%, #9d0b11 136px, #790000 136px, #790000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cd0814), color-stop(136px,#9d0b11), color-stop(136px,#790000), color-stop(100%,#790000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #cd0814 0%,#9d0b11 136px,#790000 136px,#790000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #cd0814 0%,#9d0b11 136px,#790000 136px,#790000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #cd0814 0%,#9d0b11 136px,#790000 136px,#790000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #cd0814 0%,#9d0b11 136px,#790000 136px,#790000 100%); /* W3C */
    min-height: 140px;
}

#menu-main {
	margin-top: 1.125em;
}
ul#menu-main > li > a {
	font-family: 'Patua One', cursive;
	font-weight: normal;
	font-size: 1em;
	color: #fff;
}
ul#menu-main > li > a:hover {
	background: #f0bf00;
	padding: 9px 15px;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {
	text-shadow: none;
}
/* ---------------------------------------------------------------------------------------------------------- 
05 Single-Page Sections ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

#headerwrap h1 {
	color: #FFFFFF;
	font-family: 'Patua One', cursive;
	//font-size: 4em;
	font-weight: 400;
	
        text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;

}
#headerwrap h2 {
	color: #FFFFFF;
	font-family: 'Open Sans', sans serif;
	//font-size: 2em;
	font-weight: bold;
	//margin: 0.5em 0;
	text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black;
        
}

/*========== Social Icons ==========*/
ul.icon {
	font-size:54px;
	margin: 0.4em 0 0.5em 0;
        text-shadow: 0 0 5px black, 0 0 5px black, 0 0 5px black
}
ul.icon li {
	display:inline-block;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}
ul.icon li:hover {
	opacity:0.7;
}
section.single-page {
	padding: 4.75em 0; /* 76px */
}
section.single-page h1 {
	text-align: center;
	font-family:  'Patua One', cursive;
	margin-bottom: 2em; /* 72px */
	font-size: 2.25em; /* 36px */
}
}
/* ---------------------------------------------------------------------------------------------------------- 
06 Footer ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */

#map-wrapper {
	margin-top: 20px;
}

/*
footer p {
	margin-top: -130px;
}
*/
/* ---------------------------------------------------------------------------------------------------------- 
07 Bootstrap Carousel ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */
  
#carousel-homepage{
    
}

    .carousel-caption {
	background-color: transparent;
	position: static;
	max-width: 550px;
	padding: 0 20px;
	margin-top: 200px;
	position:absolute;
}
.carousel-caption h1,  .carousel-caption .lead {
	margin: 0;
	line-height: 1.25;
	color: #fff;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
}
.carousel-caption .btn {
	margin-top: 10px;
}
.carousel-control {
	height: 50px;
	top: 46%;
	margin-top: 0;
	font-size: 6.5em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
	background-color: transparent;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	opacity: 0.4;
	border-radius: 0;
}
.carousel-control:link, .carousel-control:visited {
	color: #262626;
}
/* Banner Carousel  */    
    #banner.carousel {
	margin-top: 4.75em;
	margin-bottom: 0;
	margin-top: 0;
	max-height: 642px;
}
.banner-caption {
	/*	width: 18%; */
    	position: absolute;
	left: 20%;
	top: 10%;
	color: #007ac3;
}
#intro-caption {
	margin-top:150px;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	font-size: 80px;
	line-height: 90px;
	color:#fff;
	font-weight:bold;
	text-shadow: 2px 2px 2px #000;
}
#intro-caption span {
	font-family:'Open Sans', sans-serif;
	font-size: 0.65em;
}
#banner.carousel .item {
}
#banner.carousel img {
}
#banner.carousel .carousel-control {
}
/* ---------------------------------------------------------------------------------------------------------- 
08 Buttons ------------------------------------------------------------
---------------------------------------------------------------------------------------------------------- */    

     
/* RESPONSIVE 
-------------------------------------------------- */


    @media (max-width: 1186px) {
     #headerwrap {
margin-top: -310px;
}   

.div_box_homepage .caption{
  top: -85px;  
}
    }

@media (min-width: 981px) and (max-width: 1185px) {
     #headerwrap{
         margin-top: -420px;
     } 
     
     
}

 @media (max-width: 979px) {
     
     #carousel-homepage .carousel-inner{
         height: 350px;
     }
     #carousel-homepage .carousel-inner .item{
     height:350px;
     }
     #carousel-homepage .carousel-inner > .item, .carousel-inner > .item > a > img{
     //    height: 350px;
         
     }
     
     
     #carousel-2 .carousel-indicators{
         bottom: -50px;
     }
     #headerwrap{
         margin-top: -350px !important;
     }
     #headerwrap h2{
         margin-top: 0px;
         font-size: 25px;
     }
     
     .indirizzo_homepage{
         font-size: 15px;
     }
      #headerwrap h1{
         font-size: 30px;
     }
     
     .contenitore_step_compile{
         margin-top: 10px;
     }
     
     .social-icon{
         font-size: 35px;
         position: relative;
top: -20px;
     }
     
     .button_singolo_risultato button b{
         font-size: 10px;
     }
     
     
}
 @media (min-width: 769px) and (max-width: 979px) {
     #menu_principale{
         margin-top: 50px;
     }
     .step_compile .glyphicon-circle-arrow-right{
     position: relative;
top: -52px;
left: 97px;
color: #fff;
font-size: 35px;
     }
     
}


@media (min-width: 769px) {
    .row_div_box_homepage{
        display: none;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    
    
    
    .social-icon{
        font-size: 40px;
    }
    #headerwrap{
        margin-top: -415px;
    }
    ul.icon {
         margin-top: -6px !important;
     }
}

 @media (max-width: 768px) {
     #menu_principale .submenu a{
    color: #fff;
}

#menu_principale ul.navbar-right{
    margin-top: 0px;
}

    
     
     
     #headerwrap h1{
         font-size: 25px;
     }
     
     #headerwrap h2{
         font-size: 20px;
     }
     
     #carousel-homepage .carousel-inner > .item,#carousel-homepage .carousel-inner > .item {
         height: 330px;
     }
     
     .navbar{
         background: #CD0814;
     }
     .sign-up{
         margin-top: 10px;
     }
     
     .nome_locale, .indirizzo_locale, .minimo_consegna, .costo_consegna, .nota, .orario, .cs_days, .raggio_consegna{
         text-align: center;
     }
     .risultato_ricerca .col-xs-12{
                text-align: center !important;
            }
            .numero_ristoranti{
                text-align: center !important;
            }
            .help_menu{
                padding-bottom: 0px;
                padding-top: 0px;
                margin-bottom: 10px;
            }
            
            .button_singolo_risultato{
                margin-top:10px;
                margin-bottom: 10px;
            }
            .ratings{
                margin-top: 5px;
                margin-bottom:5px;
                text-align: center;
            }
            .input_indirizzo input{
                font-size:18px;
            }
           .header_menu {
                text-align: center;
            }
}

.icon-pinterest-circled{
    color: #F37238;
}
.icon-facebook-circled{
    color: #38569C;
}

.icon-twitter-circled{
    color:#30C5EA;
}

.icon-gplus-circled{
    color:#DB4A37;
}

.icon-skype-circled{
    color:#00B0EE;
}

 .navbar-right{
                margin-top: 20px;
               
            }

    
@media (min-width: 481px) and (max-width: 767px) {
 
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
                border: none !important;
            }
            
    
    #headerwrap .div_trova_locale{
        width: 100%;
        margin-top: 10px;
    }
    
    #headerwrap .social-icon {
        font-size: 30px;
        position: relative;
top: -44px;
    }
#carousel-homepage .carousel-inner{
                min-height: 350px;
            }
            #carousel-homepage .carousel-inner > .item,#carousel-homepage .carousel-inner > .item{
                min-height: 350px;
                -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
            }

}


    /* Smaller screens ----------- */
	@media (max-width : 480px) {
            
            
            .button_singolo_risultato button b{
         font-size: 13px;
     }
     
            .navbar-right{
                margin-top: 20px;
                text-align: center;
            }
            
            .navbar-right .btn{
                width: 100%;
            }
            
            .navbar-right #first_item{
                margin-left: 0px !important;
                margin-top: 40px !important;
            }
            
            button.navbar-toggle{
                margin-right: 0px;
                margin-top: 15px;
            }
            
            .div_trova_locale{
                margin-top: -10px;
            }
            
            .step_compile{
                display:none;
            }
            
            .contenitore_step_compile{
                margin-top: 20px;
            }
            .trova_locale{
         margin-top: 10px;
     }
            
             .descrizione_singola_voce_menu{
                margin-top: 40px;
            }
            
            .social-icon{
            font-size: 30px;
            }
            #carousel-homepage .carousel-inner{
                min-height: 350px;
            }
            #carousel-homepage .carousel-inner > .item, #carousel-homepage .carousel-inner > .item {
                min-height: 350px;
                -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
            }
            #headerwrap h1{
                font-size: 20px;
            }
            
             #headerwrap h2{
                font-size: 18px;
            }
            .input_indirizzo{
                margin-top: 5px;
                margin-bottom: 10px;
                font-size: 20px;
            }
            ul.icon{
                margin-top: -5px;
            }
            .navbar-brand img{
                width: 160px;
            }
            
            .single_pree_footer{
                margin-top: 10px;
            }
            .bottom_homepage h3{
                font-size: 13px !important;
            }
                 .bottom_homepage{
            min-height:180px !important;
        }
         
            .numero_ristoranti{
                float:none !important;
               text-align: center !important;
               padding: 0 !important;
            }   
            
            .sign-up{
                margin-top: 5px;
            }
            .input_indirizzo input{
                font-size:14px;
            }
            
            .social-icon{
                position: relative;
                top: -10px;
            }
        }
    /* Smartphones (portrait and landscape) ----------- */
	@media only screen  and (min-device-width : 320px)  and (max-device-width : 480px) {
            
           
            
            
}

	/* Smartphones (landscape) ----------- */
	@media only screen  and (min-width : 321px) {
}
	
	/* Smartphones (portrait) ----------- */
	@media only screen  and (max-width : 320px) {
            .social-icon{
            font-size: 30px;
            }
            #headerwrap .carousel-inner{
                min-height: 350px;
            }
            
}
	
  
 // HELP PAGE
 

 // NAVBAR VERTICALE
 
 